/* what link */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');

.newspaper-container {
    width: 700px;
    box-shadow: 5px #ddd;
    padding: 10px;
    margin: auto;
    background-color: white;
}
main h2, h5{
    font-family: 'roboto slab';
}

main h5 {
    color: #dd3232;
}

h1 {
    font-family: 'abril fatface';
    margin: auto;
    text-align: center;
}

nav {
    border: 5px 0 5px 0;
}

nav a {
    list-style-type: none;
    margin: 0;
    text-decoration: none;
    color: #777;
}

li {
    display: inline;
    padding: 5px;
}

body {
    font-family: 'source sans pro';
    background-color: #eee;
    border-color: #eee;
}

#image1 {
    width: 100%;
}

.more-articles {
    display: flex;
    width: 100%;
}

h4 {
    font-weight: bold;
    font-family: 'roboto slab';
}